@media screen and (max-width:810px){
    .titreApropos{
        font-size: 40px !important;
    }
    .img_container{
        position: absolute;
        z-index: -99;
        transform: scale(0.8);
        opacity: 0.5;
        margin-top: 30% !important;
    }
    .paragraphe_apropos{
        justify-content: center;
    }
}