@media screen and (max-width: 722px) {
    .container-fluid{
        max-width: 75%;
        margin: auto;
    }
    .nomEquipe {
        font-size: 45px;
    }
    .centrer{
        display: block; 
        margin: auto;
        text-align: center;
    }
    .image-container{
        z-index: -99;
        transform:scale(0.8);
        opacity: 0.5;
        margin-top: -60%;
    }
}
